@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.houses-app {
    display: none;
    height: 100%;
    width: 100%;
    background: #0c0c0c;
    overflow: hidden;
}

.houses-app-header {
    position: absolute;
    width: 100%;
    height: 5vh;
    background-color: #111111;
    top: 6vh;
}

.houses-app-header-tab {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 5vh;
    font-family: 'Source Sans Pro', sans-serif;
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: .075s linear;
}

.houses-app-header-tab > p {
    font-size: 1.5vh;
    color: rgb(255, 255, 255);
    transition: .075s linear;
}

.houses-app-header-tab-selected {
    border-bottom: 2px solid #0174d3;
}

.houses-app-header-tab-selected > p {
    color: #0174d3;
}

.house-app-myhouses-container {
    position: absolute;
    width: 85%;
    height: 73%;
    margin: 0 auto;
    left: 0vw;
    right: 0;
    background-color: #111111;
    top: 12vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.house-app-myhouses-container::-webkit-scrollbar {
    width: .5vh;
    background-color: #0174d3;
}

.house-app-myhouses-container::-webkit-scrollbar-thumb {
    background-color: #111111;
}

.house-app-mykeys-container {
    display: none;
    position: absolute;
    width: 85%;
    height: 73%;
    margin: 0 auto;
    left: 0vw;
    right: 0;
    background-color: #111111;
    top: 12vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.house-app-mykeys-container::-webkit-scrollbar {
    width: .5vh;
    background-color: #0174d3;
}

.house-app-mykeys-container::-webkit-scrollbar-thumb {
    background-color: #111111;
}

.myhouses-house {
    position: relative;
    height: 7.5vh;
    width: 100%;
    background-color: #0174d3;
    transition: .05s linear;
    margin-bottom: .2vh;
}

.myhouses-house:hover {
    background-color: #0069be;
}

.myhouse-house-icon {
    position: absolute;
    height: 100%;
    width: 25%;
    text-align: center;
}

.myhouse-house-icon > i {
    text-align: center;
    line-height: 7.5vh;
    color: rgb(255, 255, 255);
    font-size: 2.2vh;
}

.myhouse-house-titel {
    position: absolute;
    left: 5.5vh;
    top: 1.7vh;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro';
    font-size: 1.5vh;
}

.myhouse-house-details {
    position: absolute;
    left: 5.5vh;
    bottom: 1.7vh;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro';
    font-size: 1.3vh;
}

.myhouse-house-details > i {
    font-size: 1vh;
}

.myhouses-options-container {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.myhouses-options {
    position: absolute;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    left: 0vw;
    right: 0;
    background: #111111;
    top: 15vh;
}

.myhouses-options-header {
    position: absolute;
    width: 100%;
    height: 5vh;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 5vh;
    font-family: 'Source Sans Pro';
    font-size: 1.8vh;
    border-bottom: 2px solid #0069be;
}

.myhouses-option {
    position: relative;
    margin: 0 auto;
    margin-bottom: .8vh;
    width: 12vh;
    height: 5vh;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro';
    font-size: 1.5vh;
    top: 6vh;
    text-align: center;
    line-height: 5vh;
    transition: .05s linear;
}

#myhouse-option-transfer {
    background-color: #0174d3;
}

#myhouse-option-transfer:hover {
    background-color:#0069be;
}

#myhouse-option-keys {
    background-color: #0174d3;
}

#myhouse-option-keys:hover {
    background-color: #0069be;
}

#myhouse-option-close {
    background-color: #0174d3;
}

#myhouse-option-close:hover {
    background-color: #0069be;
}

#myhouse-option-transfer-confirm {
    background-color: #0174d3;
}

#myhouse-option-transfer-confirm:hover {
    background-color: #0069be;
}

#myhouse-option-transfer-back {
    background-color: #0174d3;
}

#myhouse-option-transfer-back:hover {
    background-color: #0069be;
}

.myhouse-option-transfer-container {
    position: absolute;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    left: 35vw;
    /* left: 0; */
    right: 0;
    background: #0c0c0c;
    top: 15vh;
}

.myhouse-option-keys-container {
    position: absolute;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    left: 35vw;
    /* left: 0; */
    right: 0;
    background: #0c0c0c;
    top: 15vh;
}

.myhouse-option-transfer-container-header {
    position: absolute;
    width: 100%;
    height: 5vh;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 5vh;
    font-family: 'Source Sans Pro';
    font-size: 1.8vh;
}

.myhouse-option-transfer-container-citizenid {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 80%;
    height: 5vh;
    top: 7.5vh;
    border: none;
    color: rgb(255, 255, 255);
    outline: none;
    font-family: 'Source Sans Pro';
    font-size: 1.8vh;
    text-indent: 1vh;
    background: #0c0c0c;
    border: 2px solid #111111;
    transition: .05s linear;
}

.myhouse-option-transfer-container-citizenid:focus {
    border: 2px solid #0069be;
}

.myhouse-option-transfer-container-citizenid:valid {
    border: 2px solid #0174d3;
}


#myhouse-option-keys-back {
    top: 22vh;
    background-color: #0174d3;
}

#myhouse-option-keys-back:hover {
    background-color: #0069be;
}

.keys-container {
    position: absolute;
    width: 20vh;
    height: 18vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 2vh;
    overflow-y: scroll;
    background: #111111;
}

.keys-container::-webkit-scrollbar {
    display: none;
}

.house-key-holder {
    display: inline-block;
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    position: absolute;
    padding: 1.2vh;
    font-family: 'Source Sans Pro';
    font-size: 1.5vh;
    color: rgb(255, 255, 255);
}

.house-key {
    position: relative;
    width: 100%;
    height: 4.5vh;
    background-color: #0174d3;
    transition: .05s ease-in-out;
}

.house-key-delete {
    position: absolute;
    right: 0;
    padding: 1.2vh;
    padding-right: 1.5vh;
    font-size: 1.5vh;
    color: rgb(255, 255, 255);
    transition: .05s ease-in-out;
}

.house-key:hover {
    background-color: #0069be;
}

.house-key-delete:hover {
    color: #0069be;
}

@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake {
    display: inline-block;
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.4s;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear
}

.mykeys-key {
    position: relative;
    width: 100%;
    height: 7vh;
    background-color: #0174d3;
    margin-bottom: 0.5vh;

    transition: 0.1s ease;
}

.mykeys-key:hover {
    background-color: #0069be;
}

.mykeys-key-label {
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro';
    font-size: 1.8vh;
    margin: 1vh;
}

.mykeys-key-sub {
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro';
    font-size: 1.2vh;
    margin: 1vh;
}